.container {
  display: flex;
  align-items: start;
}

#map {
  flex-grow: 1;
}

.flight-details {
  margin-right: 20px; /* Adjust as needed */
  flex-basis: 200px; /* Adjust width as needed */
  overflow-y: auto; /* For scrollable list */
}

#flightDetailsList li {
  cursor: pointer;
  margin-bottom: 5px;
}

.tooltip {
  position: absolute;
  border: 1px solid #ccc;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  pointer-events: none; /* Prevents the tooltip from interfering with other mouse events */
}
