.select-wrapper {
  position: relative;
  display: inline-block;
  background-color: #2a4f7c;
  cursor: pointer;
  width: 104px;
  padding-bottom: 6px;
  z-index: 1000;
}

.select-wrapper .date-mode-select, .select-wrapper .option, .select-wrapper .selected-option {
  text-align: left;
  background-color: #2a4f7c;
  width: 100%;
}

.select-wrapper .date-mode-select {
  position: absolute;
  padding-top: 8px;
  font-size: 1rem;
  height: 38px;
}


.select-wrapper .option:hover {
  background-color: #346197;
  color: #fff;
}

.date-mode-select .options:not([style*="display: none"]) .option.hide {
  display: none;
}

.flatpickr-monthDropdown-months, .numInput.cur-year {
  font-size: 16px !important;
  text-align: left !important;
}

.flatpickr-monthDropdown-months {
  width: auto !important;
  left: 0 !important;
}

.flatpickr-current-month {
  display: flex;
  align-items: center;
  left: 0 !important;
  width: 100% !important;
}

.flatpickr-prev-month, .flatpickr-next-month {
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.flatpickr-prev-month {
  margin-left: 110px !important;
}

.flatpickr-month {
  margin-left: 25px !important;
}

.flatpickr-next-month {
  margin-right: 10px !important;
}

.flatpickr-calendar,
.flatpickr-weekdays,
.flatpickr-weekday,
.flatpickr-month,
.flatpickr-months,
.flatpickr-monthDropdown-months,
.flatpickr-year,
.flatpickr-current-month,
.flathpickr-monthDropdown-months,
.flatpickr-day,
.flatpickr-day.today,
.flatpickr-day:hover,
.flatpickr-day:focus,
.flatpickr-day:not(.selected):hover,
.flatpickr-day.inRange:hover,
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.inRange,
.flatpickr-prev-month,
.flatpickr-next-month,
.flatpickr-prev-month:hover,
.flatpickr-next-month:hover,
.flatpickr-weekwrapper,
.flatpickr-monthDropdown-months option {
  background: #333 !important;
  color: #ccc !important;
}

span.flatpickr-weekday {
  font-weight: 500;
}

.flatpickr-day,
.flatpickr-day.today {
  background: #2a2a2a !important;
  color: #ccc;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.inRange {
  background: #2a4f7c !important;
  color: #ccc !important;
  border: none;
}

.flatpickr-day.inRange::before {
  content: '';
  position: absolute;
  top: 0;
  left: -8px;
  height: 100%;
  width: calc(100% + 16px);
  background-color: #2a4f7c;
  z-index: -1;
}

.flatpickr-day.inRange {
  position: relative;
  z-index: 1;
}

.flatpickr-day.flatpickr-disabled {
  background: #2a2a2a !important;
  color: #888 !important;
  cursor: not-allowed !important;
  opacity: 0.6;
}

.date-row {
  display: flex;
  gap: 8px;
}

.date-input {
  flex: 1;
}
