#infoPane {
  position: relative;
  height: 140px;
  width: 100%;
  background-color: #222;
  box-sizing: border-box;
  z-index: 1000;
  bottom: 18px;
}

#top-bar {
  height: 26px;
  display: flex;
  align-items: center;
  background-color: #333; /* Optional: to match the menu bar's background */
  border-top: 2px solid #0060bb;
}

#menu-bar {
  display: flex;
  height: 26px;
  align-items: center;
  flex-grow: 1; /* Allows the menu bar to take up remaining space */
}

.list-icon-button {
  height: 24px;
  width: 28px;
  margin-right: 5px;
  border: none;
  background-color: #333;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-icon-button img {
  width: 20px;
  height: 20px;
  border: 1px solid #525252;
  background-color: #222;
}

.list-icon-button:hover {
  background-color: #525252;
}

.route-info-button {
  height: 23px;
}

.route-info-button:focus, .route-info-button:active {
  background-color: #3b7897;
}


#infoPaneContent {
  position: absolute;
  top: 28px; /* Adjust this value to account for any header or top bar inside infoPane */
  left: 0;
  right: 0;
  bottom: 0; /* This makes infoPaneContent stretch to the bottom of infoPane */
  overflow-y: auto; /* Keep the scrollbar if content overflows */
}

table {
  border-collapse: collapse;
  font-family: 'Consolas', 'Courier New', Courier, monospace; /* Monospace font */
  font-size: 12px; /* Similar to default console font size */
  color: #2ad8ff; /* Default text color */
  border: 1px solid #333;
  box-sizing: border-box; /* Include padding and border in the table's total width */
}

/* Style for table headers */
th {
  background-color: #222; /* Very light grey background */
  color: #ccc;
  text-align: left;
  padding: 8px; /* Padding for table cells */
  /*border: 1px solid #555; /* Subtle bottom border */
}

/* Style for table rows */
td {
  padding: 4px; /* Padding for table cells */
  /*border: 1px solid #555; /* Subtle bottom border */
}

/* Style for alternating row colors */
tr:nth-child(even) {
  background-color: #222; /* Very light grey for even rows */
}

/* Style for the cells in the "Price" column */
td:nth-child(3) { /* Assuming "Price" is the third column */
  color: rgb(153, 113, 255); /* Change text color to purple */
}

tr:nth-child(odd) {
  background-color: #222; /* White for odd rows */
}

/* Style for table rows on hover */
tr:hover {
  background-color: #222; /* Slightly darker background on hover */
}

#infoPaneContent table tr:hover {
  background-color: #282828; /* Lighter shade for hover, adjust as needed */
}

.infoPaneContent::-webkit-scrollbar-track {
  background-color: #222; /* Dark track background */
}

/* Style the scrollbar thumb (scrollable handle) */
#infoPaneContent::-webkit-scrollbar-thumb {
  background-color: #555; /* Dark thumb color */
  border-radius: 2px; /* Rounded corners for the thumb */
}

/* Style the scrollbar itself (width and height) */
#infoPaneContent::-webkit-scrollbar {
  width: 5px; /* Thin scrollbar width */
  height: 5px; /* Thin scrollbar height for horizontal scroll */
}

.update-price-btn {
  background-color: rgb(60, 93, 110);
}

.update-price-btn:hover {
  background-color: #3b7897;
}

.resize-handle {
  position: absolute;
  top: -25px; /* Adjust as needed to position just above the infoPane */
  left: calc(50% - 35px);
  height: 25px;
  width: 70px;
  border: 1px solid #525252;
  border-radius: 3px;
  cursor: ns-resize;
  background-color: #1f1f1f;
  z-index: 9999;
}

.resize-handle:hover {
  background-color: #333;
}

.resize-handle::before,
.resize-handle::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 50px;
  background-color: #aaa; /* Change to desired color */
}

.resize-handle::before {
  top: 7px; /* Position the first line */
}

.resize-handle::after {
  top: 15px; /* Position the second line with 8px vertical spacing from the first */
}
