/* Left Pane Specific Styles */
.leftPane {
  flex-basis: 180px; /* Adjust width as necessary */
  flex-shrink: 0; /* Prevent shrinking */
  padding: 10px;
  border-right: 1px solid #525252;
}

.travelers-container,
.date-picker-container,
.trip-type-container,
.airport-selection {
  margin-bottom: 10px;
}

.route-container {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.route-container input {
  width: 60px;
  flex-grow: 1;
}

.route-container input:last-child {
  margin-right: 0; /* Remove margin for the last input */
}

.autocomplete-active {
  /* Your styles for highlighting the active suggestion */
  color: #e7e7e7;
}

.suggestions {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 9999;
  overflow: auto;
  background-color: #222;
  color: #888;
}

.trip-type-button.active {
  background-color: rgb(60, 93, 110);
  color: white;
}

#startDate {
  width: 95%;
  margin-right: 10px;
}

/* Responsive Design for Left Pane */
@media (max-width: 768px) {
  .leftPane {
    flex-basis: 100px;
  }
}
