/* Apply box-sizing globally for consistency */
*, *::before, *::after {
  box-sizing: border-box;
}
.leftPane {
  transition: transform 0.5s ease-in-out;
  flex-basis: 200px;
  flex-shrink: 0;
  padding: 10px;
  border-right: 1px solid #525252;
}

.toggle-pane-button {
  position: absolute;
  top: 10px;
  left: 200px; /* Adjust based on the width of the leftPane */
  z-index: 999;
  cursor: pointer;
}

.leftPane-hidden {
  visibility: hidden;
  width: 0;
  overflow: hidden;
  position: absolute;
}

.mapPane-expanded {
  flex-grow: 1;
  transition: flex-grow 0.5s ease-in-out;
}

.travelers-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;
}

/* Styling for the number of travelers input */
#numTravelers {
  width: 40px;
  text-align: center;
}

/* Styling for the decrease and increase travelers buttons */
#decreaseTravelers, #increaseTravelers {
  padding: 5px 10px;
}

/* Styling for the date picker, trip type, and airport selection containers */
.date-picker-container,
.trip-type-container,
.airport-selection {
  margin-bottom: 10px;
}

/* Styling for the route container */
.route-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;
}

/* Styling for the input fields in the route container */
.route-container input {
  width: 60px;
  flex-grow: 1;
}

/* Styling for active autocomplete suggestions */
.autocomplete-active {
  /* Your styles for highlighting the active suggestion */
  color: #e7e7e7;
}

/* Styling for the suggestions dropdown */
.suggestions {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 9999;
  overflow: auto;
  background-color: #222;
  color: #888;
}

/* Styling for the active trip type button */
.trip-type-button.active {
  background-color: rgb(60, 93, 110);
  color: white;
}

/* Styling for the start date input */
#startDate {
  width: 100%;
}

/* Responsive design adjustments for smaller screens */
@media (max-width: 768px) {
  .leftPane {
    flex-basis: 100px;
  }
}

.date-picker-container input[type="date"] {
  background-color: #333; /* Dark background */
  color: whrgb(108, 106, 106);/* Light text */
  border: 1px solid #555; /* Darker border for contrast */
  padding: 5px;
  border-radius: 4px;
}

.date-picker-container input[type="date"]:focus {
  outline: none; /* Optional: Removes the default focus outline */
  border-color: #777; /* Optional: Changes border color on focus */
}
