*, *::before, *::after {
  box-sizing: border-box;
}

.leftPane {
  transition: transform 0.5s ease-in-out;
  flex: 0 0 170px;
  padding: 10px;
  border-right: 1px solid #525252;
  overflow-y: auto;
}

/* Scrollbar styles for leftPane and suggestions containers */
.leftPane::-webkit-scrollbar-track, [id$='Suggestions']::-webkit-scrollbar-track {
  background-color: #222;
}

.leftPane::-webkit-scrollbar-thumb, [id$='Suggestions']::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 2px;
}

.leftPane::-webkit-scrollbar, [id$='Suggestions']::-webkit-scrollbar {
  width: 5px;
}

.toggle-pane-button {
  position: absolute;
  height: 70px;
  width: 25px;
  top: 50%;
  transform: translateY(-50%);
  left: 170px;
  z-index: 500;
  cursor: pointer;
}

.leftPane-hidden {
  visibility: hidden;
  width: 0;
  overflow: hidden;
  position: absolute;
}

.mapPane-expanded {
  flex: 1 1 auto;
  transition: flex 0.5s ease-in-out;
}

.options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.travelers-container, .trip-type-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;
}

#numTravelers {
  width: 26px;
  padding: 0;
  text-align: left;
}

#decreaseTravelers, #increaseTravelers {
  padding: 5px 10px;
}

.date-picker-container,
.trip-type-container,
.airport-selection {
  margin-bottom: 10px;
}

.route-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;
}

.route-container input {
  width: 30px;
  flex-grow: 1;
}

.autocomplete-active {
  color: #e7e7e7;
}

@media (max-width: 768px) {
  .leftPane {
    flex-basis: 170px; /* Ensure left pane remains 170px wide on mobile */
  }
}

/*

#startDate {
  width: 100%;
}

.date-picker-container input[type="date"] {
  background-color: #333;
  color: #6c6a6a;
  border: 1px solid #555;
  padding: 5px;
  border-radius: 4px;
}

.date-picker-container input[type="date"]:focus {
  outline: none;
  border-color: #777;
}
*/

.travelers-icon-label {
  background: url('../assets/person.svg') no-repeat center;
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
}

.icon-person {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.icon-dropdown {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #7f7f7f;
  display: inline-block;
  margin-left: 5px;
}

.travelers-dropdown, .trip-type-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  list-style: none;
  padding: 10px;
  margin: 0;
  background-color: #333;
  width: auto;
  min-width: 40px;
  cursor: pointer;
  white-space: nowrap;
}

.travelers-dropdown li:hover, .trip-type-dropdown li:hover{
  background-color: #555;
}

.hidden {
  display: none;
}

.travelers-dropdown-btn,
.trip-type-dropdown-btn {
  padding: 5px; /* Combined padding rules */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

#tripTypeDropdownBtn:disabled {
  background-color: #999;
  color: #444;
  cursor: not-allowed;
}

/* Styling for any suggestions container related to waypoint fields */
[id$='Suggestions'] {
  background-color: #333; /* Match dropdown background */
  border: 1px solid #525252; /* Match dropdown border */
  border-radius: 4px; /* Match dropdown border radius */
  color: white; /* Match dropdown text color */
  position: absolute;
  z-index: 1000;
  width: auto;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* Optional: for depth */
}

/* Styling individual suggestion items within any suggestions container */
[id$='Suggestions'] div {
  padding: 10px;
  cursor: pointer;
}

/* Highlighting items on hover within any suggestions container */
[id$='Suggestions'] div:hover, .autocomplete-active {
  background-color: #555;
}
