.mapPane {
  display: flex; /* Ensure this is a flex container */
  flex-direction: column; /* Stack children vertically */
  height: 100%; /* Fill the height of its parent */
  overflow: hidden; /* Prevent overflow */
}

#map {
  flex-grow: 1; /* Allow the map to fill the available space */
  width: 100%; /* Fill the width of its parent */
  height: 100%; /* This should be adjusted by JS if not filling */
}

.flight-details {
  margin-right: 20px; /* Adjust as needed */
  flex-basis: 200px; /* Adjust width as needed */
  overflow-y: auto; /* For scrollable list */
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: rgb(0, 0, 0) !important;
  color: #a0a0a0;
  border: 1px solid #676767;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

/* Zoom controls */
.leaflet-control-zoom a {
  background-color: rgba(85, 85, 85, 0.7) !important; /* Semi-opaque background */
  color: #bbbbbb !important;
  border: 1px solid #a5a5a5 !important;
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  background-size: 20px 20px !important;
  border-radius: 50% !important; /* Make the buttons circular */
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaflet-control-zoom a.leaflet-control-zoom-in {
  margin-bottom: 5px !important; /* Add vertical spacing */
}

.leaflet-control-zoom a:hover,
.leaflet-control-zoom a:active {
  background-color: rgba(34, 34, 34, 0.7) !important;
  color: #bbbbbb !important;
}

.leaflet-control-zoom a.leaflet-control-zoom-in,
.leaflet-control-zoom a.leaflet-control-zoom-out {
  font-size: 22px !important;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: none;
}

/* Attribution control */
.leaflet-control-attribution.leaflet-control {
  color: #999 !important;
  background: rgba(0, 0, 0, 0.2) !important;
  font-size: 10px !important;
  padding: 2px !important;
}

.leaflet-control-attribution.leaflet-control a {
  color: #999 !important;
}

.leaflet-control-attribution.leaflet-control a:hover {
  color: #ccc !important;
}
