.mapPane {
  display: flex; /* Ensure this is a flex container */
  flex-direction: column; /* Stack children vertically */
  height: 100%; /* Fill the height of its parent */
  overflow: hidden; /* Prevent overflow */
}

#map {
  flex-grow: 1; /* Allow the map to fill the available space */
  width: 100%; /* Fill the width of its parent */
  height: 100%; /* This should be adjusted by JS if not filling */
}

.flight-details {
  margin-right: 20px; /* Adjust as needed */
  flex-basis: 200px; /* Adjust width as needed */
  overflow-y: auto; /* For scrollable list */
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: rgb(0, 0, 0) !important; /* Dark background for popup */
  color: #a0a0a0; /* Light text color */
  border: 1px solid #676767; /* Border color */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); /* Box shadow for consistency */
}

/* Change background color */
.leaflet-control-zoom a {
  background-color: #555555;
  color: #bbbbbb;
  border: 1px solid #a5a5a5 !important;
}

.leaflet-control-zoom a:hover, a:active {
  background-color: #222222;
  color: #bbbbbb;
  border-bottom: 1px solid #a5a5a5 !important;
}