
#priceSliderPopup {
  position: absolute;
  z-index: 1000;
  background-color: #333;
  border: 1px solid #525252;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.hidden {
  display: none !important;
}

.price-slider {
  width: 200px;
}

.filterIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#sortIcon, #filterIcon {
  cursor: pointer;
  margin-left: 5px;
}

#sortIcon:hover, #priceFilterIcon:hover {
  color: #007bff; /* Example hover color, adjust as needed */
}

/* Targeting th elements within a specific table class for content alignment */
.route-info-table th {
  position: relative;
  text-align: left;
}

.route-info-table tbody tr.selected {
  background-color: #444;
}

/* Positioning the filter icon to the right within the th element */
.route-info-table th .filterIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.date-filter-popup {
  position: absolute;
  z-index: 1000;
  background-color: #333;
  border: 1px solid #555;
  padding: 10px;
  width: 200px;
}

.time-display {
  font-size: 14px;
  color: #ddd;
  padding: 5px;
  background-color: #333;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 5px;
}

/* Custom Handle Style */
.slider-handle {
  background-color: #007bff; /* Blue background */
  width: 16px !important; /* Width of the handle */
  height: 16px !important; /* Height of the handle */
  border-radius: 50%; /* Circular handle */
  border: none; /* No border */
  top: -2px; /* Adjust vertical alignment to center with the slider bar */
  left: 9px;
  cursor: pointer; /* Cursor indicates that the handle can be moved */
  box-shadow: none; /* Remove any shadow effects */
}

.slider-handle::before,
.slider-handle::after {
    content: none; /* This will remove pseudo-elements that may be adding lines */
}

.noUi-target,
.noUi-base {
  background: #004c86;
  height: 4px;
  border: none; 
  box-shadow: none;
}

.noUi-connect {
  height: 8px !important;  /* Set the height of the slider bar */
  background: #0084e9;  /* Set the color of the slider bar to blue */
  border: none !important;
}

.noUi-tooltip {
  display: none;
  background-color: #00bbff;
  color: #222;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  position: absolute;
}

/* Ensure the filter icon is correctly positioned within the table header */
.filterIcon {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.route-info-row {
  border-left: #007bff solid 3px;
  background-color: #000 !important; /* desable hover highlight */
}

.route-info-row-header {
  background-color: #454545 !important;
}

.route-details {
  display: flex;
  flex-direction: row;  /* ensures all children are laid out horizontally */
  align-items: flex-start; /* aligns items in a way that they start from the same line at the top */
  justify-content: space-between; /* distributes extra space evenly between elements */
  width: 100%; /* ensures the flex container spans the full width of its parent */
}

.select-button {
  background-color: green;
  color: #eee;
  padding: 6px 0 6px 0;
  border: none;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
}

.select-button:hover {
  background-color: rgb(1, 171, 1);
  color : #eee;
}

.origin, .layover, .destination {
  flex: 1; /* gives each segment an equal ability to grow and shrink */
  text-align: left; /* centers the text within each segment *//* adds some space inside each segment */
  white-space: nowrap;
  width: auto;
  padding: 0 5px 0 5px;
}

.duration {
  flex: 1; /* gives each segment an equal ability to grow and shrink */
  text-align: center; /* centers the text within each segment */ /* adds some space inside each segment */
  width: 90px;
}

.duration img {
  background-color: #fff;
}

.segments {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap; /* Prevents wrapping of segment items */
}

