.route-box-popup {
  position: absolute;
  z-index: 1000;
  background-color: #333;
  border-radius: 5px;
  border: 1px solid #525252;
  padding: 5px;
  width: 340px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.route-box-popup button {
  margin-top: 5px; /* Space above the button */
}

#depart-date-input {
  display: block; /* Ensures the input is on a new line */
  margin-top: 10px; /* Space above the date input */
  background-color: #333; /* Dark background */
  border: 1px solid #555; /* Border color */
  padding: 5px 5px; /* Padding inside the input */
  width: 330px; /* Set a fixed width */
}

.waypoint-inputs-container {
  display: flex;
  flex-direction: row; /* Change from 'column' to 'row' */
  margin-top: 20px; /* Space above the waypoint inputs */
}

.waypoint-inputs-container input {
  margin-right: 10px;
}

.waypoint-inputs-container .waypoint-input {
  background-color: #333; /* Dark background */
  border: 1px solid #555; /* Border color */
  border-radius: 3px;
  padding: 5px 5px; /* Padding inside the input */
  width: 160px; /* Set a fixed width */
}

.waypoint-inputs-container .waypoint-input:focus {
  border: 2px solid #0084ff;
  background-color: #292929;
}

.date-input {
  background-color: #333 !important; /* Dark background */
  border: 1px solid #555 !important; /* Border color */
  border-radius: 3px !important;
  padding: 5px 5px !important; /* Padding inside the input */
  width: 330px !important; /* Set a fixed width */
  margin-top: 10px !important; /* Space above the date input */
}

.date-input:focus {
  border: 2px solid #0084ff !important;
  background-color: #292929 !important;
}

.search-button {
  background-color: #0060bb; /* Blue background */
  color: #fff; /* White text */
  border: none; /* No border */
  padding: 5px 10px; /* Padding inside the button */
  margin-top: 10px; /* Space above the button */
  width: 330px; /* Set a fixed width */
}
