#priceSliderPopup {
  position: absolute;
  z-index: 1000;
  background-color: #333;
  border: 1px solid #525252;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  /* No display: none; here, use .hidden class */
}

.hidden {
  display: none;
}

.price-slider {
  width: 200px;
}

.filterIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#sortIcon, #filterIcon {
  cursor: pointer;
  margin-left: 5px;
}

#sortIcon:hover, #priceFilterIcon:hover {
  color: #007bff; /* Example hover color, adjust as needed */
}
