.route-box-popup {
  position: absolute;
  z-index: 1000;
  background-color: #222;
  border-radius: 5px;
  border: 1px solid #525252;
  padding: 10px;
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.route-box-popup button,
.route-box-popup .search-button,
.route-box-popup .remove-button,
.route-box-popup .popup-close-button {
  cursor: pointer;
}

.route-box-popup .popup-close-button:hover path {
  stroke: #ccc;
}

.route-box-popup .button-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.route-box-popup .date-input {
  display: block;
  margin-top: 13px;
  background-color: #444;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
  width: calc(50% - 4px); /* Match width with waypoint input */
  box-sizing: border-box;
}

.route-box-popup .date-input:focus {
  outline: none;
  border: #2a4f7c;
  background-color: #2a4f7c;
}

.swap-route-button {
  margin: 0 5px;
  padding: 0;
  font-size: 20px;
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  z-index: 2;
}

.swap-route-button.disabled {
  color: #666;
  pointer-events: none;
  cursor: default;
}

.swap-route-button:hover {
  background-color: transparent;
  color: #ddd;
}

.waypoint-inputs-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  align-items: center;
  position: relative;
  width: 100%;
}

.input-wrapper {
  position: absolute;
  flex: 1;
  display: flex;
  width: calc(50% - 4px);
}

.to-input {
  right: 0;
  border-radius: 5px;
  background-color: #444;
}

.from-input {
  left: 0;
  border-radius: 5px;
  background-color: #444;
}

.swap-button-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #222;
  border-radius: 50%;
  margin: 5px -12px;
  z-index: 1;
}

.route-box-popup .waypoint-input {
  background-color: transparent;
  padding: 10px 15px 10px 15px; /* Increased padding for better touch interaction */
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.route-box-popup .waypoint-input:focus {
  outline: none;
  background-color: #2a4f7c;
  border-radius: 5px;
}

.search-button,
.remove-button {
  border: none;
  border-radius: 5px;
  padding: 10px; /* Increased padding for better touch interaction */
  margin-top: 10px;
  width: calc(50% - 4px);
}

.search-button {
  background-color: #0f2f56;
}

.search-button:hover {
  background-color: #2a4f7c;
}

.remove-button {
  background-color: #2d0500;
}

.remove-button:hover {
  background-color: #5e0c01;
}

#topRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.travelers-dropdown-btn,
.trip-type-dropdown-btn {
  height: 32px;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  color: white;
  cursor: pointer;
  border-right: 1px solid #666;
}

.travelers-container,
.trip-type-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.autocomplete-active {
  color: #e7e7e7;
}

.travelers-icon-label {
  background: url('../assets/person.svg') no-repeat center;
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
}

.icon-person {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.travelers-dropdown,
.trip-type-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  list-style: none;
  padding: 5px;
  margin: 0;
  background-color: #222;
  min-width: 40px;
  white-space: nowrap;
}

.travelers-dropdown li:hover,
.trip-type-dropdown li:hover,
[id$='Suggestions'] div:hover,
.autocomplete-active {
  background-color: #346197;
}

[id$='Suggestions'] {
  background-color: #2a4f7c;
  color: #ccc;
  position: absolute;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling for touch devices */
}

[id$='Suggestions'] div {
  padding: 5px;
  border-top: 1px solid #26303c;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; /* Remove tap highlight on touch devices */
}

@media (max-width: 600px) {
  .route-box-popup {
    width: 100%;
    max-width: none;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}

@media (max-width: 600px) {
  .waypoint-input:focus {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #222;
    z-index: 10000;
    padding: 15px;
    font-size: 18px;
    box-sizing: border-box;
  }

  .suggestions:focus-within {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    max-height: calc(100vh - 50px);
    background-color: #2a4f7c;
    z-index: 10000;
    overflow-y: auto;
  }
}
