.route-box-popup {
  position: absolute;
  z-index: 1000;
  background-color: #333;
  border-radius: 5px;
  border: 1px solid #525252;
  padding: 10px;
  width: 420px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.route-box-popup button {
  margin-top: 10px; /* Space above the button */
}

#depart-date-input {
  display: block; /* Ensures the input is on a new line */
  margin-top: 10px; /* Adjust spacing as necessary */
}

/* In routeBox.css */
.trip-type-select-container {
  display: flex;
  flex-direction: column;
}

.trip-type-select {
  padding: 5px;
}

.waypoint-inputs-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px; /* Space above the waypoint inputs */
}
