.container {
  display: flex;
}

.list-container {
  flex-direction: column;
}

#map {
  flex-grow: 1;
}

#map {
  flex-grow: 1;
}

.flight-details {
  margin-right: 20px; /* Adjust as needed */
  flex-basis: 200px; /* Adjust width as needed */
  overflow-y: auto; /* For scrollable list */
}

#flightDetailsList li {
  cursor: pointer;
  margin-bottom: 5px;
}

.tooltip {
  position: absolute;
  border: 1px solid #676767;
  background-color: rgb(44, 44, 44);
  color: #c7c7c7;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  pointer-events: none; /* Prevents the tooltip from interfering with other mouse events */
}

/* Apply to the whole body of the page */
body {
  background-color: #121212; /* Dark background */
  color: #a9a9a9; /* Lighter text */
}

/* Ensure input fields, buttons, etc., are also styled appropriately */
input, button, select, textarea {
  background-color: #1e1e1e; /* Slightly lighter than the body for contrast */
  color: #e0e0e0; /* Much lighter text for readability */
  border: 1px solid #333333;
}

/* You might also want to style links to ensure they are readable */
a {
  color: #d3d3d3; /* A light blue color for links */
}

/* Style hover effects for interactive elements */
a:hover, button:hover, input:hover, select:hover, textarea:hover {
  background-color: #333333; /* Darker background on hover */
  color: #ffffff; /* White text on hover */
}

/* Style for active or focused elements */
a:active, button:active, input:focus, select:focus, textarea:focus {
  background-color: #4f9dff; /* Light blue background for active/focused state */
  color: #ffffff; /* White text for readability */
}


