body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  overflow: hidden;
  background-color: #1f1f1f;
  color: #a9a9a9;
}

.container {
  display: flex; /* Align left-container and map-container side by side */
  flex-grow: 1; /* Take up remaining space */
  overflow: hidden;
}

.left-container {
  flex-basis: 180px; /* Adjust width as necessary */
  flex-shrink: 0; /* Prevent shrinking */
  padding-left: 5px;
  padding-top: 5px;
  border-right: 1px solid #525252;
}

.map-container {
  flex-grow: 1; /* Take up remaining space */
  overflow: hidden;
  background-color: #333;
}

a {
  color: #d3d3d3;
}

a:hover, button:hover, input:hover, select:hover, textarea:hover {
  background-color: #333;
  color: #fff;
}

a:active, button:active, input:focus, select:focus, textarea:focus {
  background-color: #4f9dff;
  color: #fff;
}

input, button, select, textarea {
  background-color: #1e1e1e;
  color: #e0e0e0;
  border: 1px solid #333333;
}

.leaflet-popup {
  transition: none !important;
  min-width: 0px;
  min-height: 0px; /* Allow the popup height to shrink */
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content {
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
  white-space: nowrap;
}

.leaflet-popup-content p, .leaflet-popup-content h1, .leaflet-popup-content div {
  margin: 0;
  padding: 0;
}

.tooltip {
  position: absolute;
  border: 1px solid #676767;
  background-color: rgb(44, 44, 44);
  color: #c7c7c7;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  pointer-events: none; /* Prevents the tooltip from interfering with other mouse events */
}

.autocomplete-active {
  /* Your styles for highlighting the active suggestion */
  color: #e7e7e7;
}

.floating-controls {
  position: absolute;
  top: 5px; /* Adjust as needed */
  left: 205px; /* Adjust as needed */
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* Ensure it's above the map */
}

